<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Inspector</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="mt-3">Instagram scraper</h5>
                <div class="card mt-3">
                    <div class="card-body">

                        <form action="/view-following">
                            <div class="form-group">
                                <label>Inspecciona un usuario:</label>
                                <input type="text" class="form-control" name="usuario" placeholder="Selecciona usuario" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if grafo %}
    <img src="{{ url_for('static',filename='graphs/{}.png'.format(grafo) ) }}" alt="">
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h5 class="mt-3 mb-3">Seguido</h5>
                {% if listas %}
                {% for lista in listas %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h6>Seguidos:</h6>
                        <p>{{ lista }}</p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>Introduzca un usuario para obtener una lista</p>
                {% endif %}
            </div>
        </div>
    </div>

</body>

</html>